<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../style.css">
  <title>Document</title>
</head>

<body>
  <%- include('../includes/navbar.html')%>
    <div id="banner">
      <img id="ilustracija" src='./src/banner3.jpg'>
      <div id="split_screen">        <h1>Lorem</h1>
      </div>
      <div id="bottom_split_screen">
        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae nisi odio ratione laudantium tempora est quo atque quis reprehenderit illum!
        </p>
      </div>
      <div id="banner_text">
      
      </div>
<div id="logo_container"><img src="../src/cat.png" id="big_logo" alt="" srcset=""></div>
      <!-- <p id="anchor"><a href="recepti.html">Find recipe!</a></p>
            <img  src="src/closed.png" class="closed"  id='fridge' alt="">
            <p id="open-text">Open</p>
            <img src="src/arrow.png" id="arrow" alt="" srcset=""> -->

      <!-- <img src="Drawing.png" id="open-text" alt=""> -->
    </div>

    <div id="content" class="shadow-lg">
      <h1>We're here to help you</h1>
      <div class="line">
        <p class="shadow-lg"><img src="src/phone.png" class="image" alt="" srcset="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, corporis.</p>

        <div id="middle">
          <img src="src/options.png" class="image" alt="" srcset="">
          <p id="second">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, corporis.</p>
        </div>

        <p class="shadow-lg"><img src="src/hat.png" class="image" alt="" srcset="">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo, corporis.</p>
      </div>
    </div>
    <%- include('../includes/footer.html')%>
      <script>
        const banner = document.querySelector('#banner')

        class Bubbles {
          constructor(height, width, x, y, l ,t) {
            this.height = height
            this.width = width
            this.x = x
            this.y = y
            let bubble = document.createElement('div')
            bubble.classList.add('bubble')
            bubble.style.height = `${height}rem`
            bubble.style.width = `${width}rem`
            bubble.style.left = `${x}rem`
            bubble.style.top = `${y}rem`
            let banner = document.querySelector('#banner')
            banner.appendChild(bubble)

          }
        }

        //                         h , w  , x , y 
        // const bubble1 = new Bubbles(4, 4.5, 40, 20)
        const bubble2 = new Bubbles(5, 5, 54, 35)
        // const bubble3 = new Bubbles(4.5, 4.7,67,13)
        const bubble4 = new Bubbles(3.5, 4, 11, 10)
        const bubble5 = new Bubbles(3.7, 4.2, 75, 25)
        const bubble6 = new Bubbles(3.7, 4.2, 105, 15)
        const bubble7 = new Bubbles(5, 5.1, 95, 35)
        const bubble8 = new Bubbles(4, 4.5, 10, 50)
        // const bubble9 = new Bubbles(4.7,5.2, 35, 40)

        let bool = true


        $('#fridge').click(() => {

          $('.closed').attr('src', 'src/static2.png')
          $('.closed').addClass('open');

          $('#anchor').css({ opacity: 1 })
        })
        
      // $('.closed').toggle(()=>{
      // $('.closed').attr('src','src/static2.png')

      //             $('.closed').addClass('open');

      // });

      </script>
</body>

</html>