html,body{
    overflow-x: hidden;
}
.nav-container{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    width: 20rem;
    height: 100vh;
    padding: 4rem 2rem;
    background-color: #90B4AB;
}

.tab-content>.tab-pane{
 position: absolute;
 padding-left: 30rem;
  margin-top: -30rem;
}
/* .tab-pane{
    display: flex;
    align-items: center;
} */
.tags{
    width: 6rem;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: burlywood;

}
.badge{
    width:5rem;
    margin-top: 1rem;
    word-wrap: break-word;
}
#search-btn{
    background-color: #ffad69 !important;
}

.card-holder{
    display: grid;
    grid-template-columns: auto auto auto;
}
.card{
    margin-right: 1rem;
}
.ing:checked:after{
    display: none;
}
input[type=checkbox]{
    position: absolute;
    width: 5rem;
    margin-top: 0.5rem;
    margin-left: -1.3rem;
    z-index: 5;
}
.card-img-top{
    height: 15rem;
}
.card-holder{
    position: relative;
    margin-top: -20rem;
}